<h1 mat-dialog-title>Demande Authorisation</h1>
<div mat-dialog-content>
  <form [formGroup]="demandeForm">
    <mat-form-field appearance="outline">
      <mat-label>De</mat-label>
      <input matInput [matDatepicker]="startPicker" formControlName="startDate">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>À</mat-label>
      <input matInput [matDatepicker]="endPicker" formControlName="endDate">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>Submit</button>
</div>
